@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css");

html,
body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}
